
.idea/BasketBall.iml
.idea/BasketBall.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
__pycache__/game.cpython-310.pyc
__pycache__/setup.cpython-39.pyc
__pycache__/setup.cpython-310.pyc
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/BasketBall.iml
